*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  background-color: #385c61;
}

.container{
     height: 70vh;
     justify-content: center;
     gap: 1.5vmin;
     display: flex;
     align-items: center;
}

.game{
  height: 60vmin;
  width: 60vmin;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5vmin;
  display: flex;
  align-items: center;
}

.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  font-size: 8vmin;
  background-color: #ffffc7;
}

#reset-btn{
    font-size: 1.25rem;
    padding: 1rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn{
  font-size: 1.25rem;
  padding: 1rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none; 
}

#msg{
  color:#ffffc7;
  font-size: 6vmin;
}

.msg-container{
  height: 100vmin;
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  flex-direction: column;

}

.hide{
  display: none;
}